/*** CORE HTML ***/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-y: scroll;
}

/*** REUSABLE CLASSES ***/
.main-container {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0 0 0;
}

.bg-main-green {
    background-color: #034c3c;
}

/* Colors */
.color-primary {
    color: #034c3c;
}

.color-secondary {
    color: #b1b1b1;
}

.color-final {
    color: #902923;
}

/* Typography */
.page-header {
    text-align: center;
    font-weight: 300;
}

.lower-weight {
    font-weight: 300;
}

/*** HOME ***/
.carousel-image {
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel-caption {
    /* Additional CSS Properties For Better View */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

.home-info {
    text-align: justify;
}
