/*** CORE HTML ***/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-y: scroll;
}

/*** REUSABLE CLASSES ***/
.main-container {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0 0 0;
}

/* For Alerts */
.notice {
    width: 90%;
    max-width: 500px;
    margin: 2em auto 0 auto;
}

.bg-main-green {
    background-color: #034c3c;
}

/* Colors */
.color-primary {
    color: #034c3c;
}

.color-secondary {
    color: #b1b1b1;
}

.color-final {
    color: #902923;
}

/* Buttons */
.btn-site-main {
    color: white !important;
    background-color: #034c3c !important;
    border-color: #034c3c !important;
}
/*creates a smaller button of the main one*/
.btn-sm{
    color: white !important;
    background-color: #034c3c !important;
    border-color: #034c3c !important;
}

/* Typography */
.page-header {
    text-align: center;
    font-weight: 300;
}

.lower-weight {
    font-weight: 300;
}

/*** HOME ***/
.carousel-image {
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel-caption {
    /* Additional CSS Properties For Better View */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

.home-info {
    text-align: justify;
}

/*** REGISTER ***/
.form-container {
    width: 90%;
    max-width: 500px;
}

/** Menu **/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #034C3C;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
